
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    text-transform: uppercase;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tareas-lista {
    list-style-type: none;
    padding: 0;
}

#tareas-lista li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 3px;
    text-align: start;
}

.completada{
    background-color: #08510a !important; 
    color: #fff;
    font-weight: bolder;
}

.opciones button {
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.opciones button:hover {
    background-color: #45a049;
}

